.summary__section--title {
  color: #4d5969;
  font-size: 18px;
  margin: 20px 0 35px;
  position: relative;
  z-index: 2;
}

.summary__section--title::before {
  background-color: #e4e4e4;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 38px;
  width: 38px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.summary__section--content li {
  color: #949ba4;
  font-size: 14px;
  line-height: 25px;
  margin: 0 0 15px;
  cursor: pointer;
}

.summary__section--content li:hover {
  text-decoration: underline;
}

.bear-logo span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contact-socials__item:hover {
  background-color: #fff;
}

.contact-socials__item img {
  filter: brightness(0) invert(1);
  width: 14px;
}

.contact-socials__item--sunews img {
  width: 60px;
}

.contact-socials__item:hover img, .contact-socials__item--sunews img {
  filter: none;
}
