.nav-mobile__icon {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.nav-mobile__icon--show {
  opacity: 1;
  visibility: visible;
}

.nav-mobile__icon--hide {
  opacity: 0;
  visibility: hidden;
}

.toggle-label {
  width: 33px;
  height: 33px;
}

#toggle:checked + label .nav-mobile__icon--show {
  opacity: 0;
  visibility: hidden;
}

#toggle:checked + label .nav-mobile__icon--hide {
  opacity: 1;
  visibility: visible;
}

.nav-mobile__items {
  display: block;
  width: 100%;
  position: fixed;
  top: 75px;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10%);
  visibility: hidden;
  transition: all 0.3s ease;
}

.nav-mobile__item {
  padding: 10px 15px;
  color: #c01111;
  text-align: start;
}

.nav-mobile__item a {
  font-size: 14px;
  color: #4d5969;
}

.nav-mobile__item--active, .nav-mobile__item:hover {
  background-color: #c01111;
}

.nav-mobile__item--active a, .nav-mobile__item:hover a {
  color: #fff;
}

#toggle:checked ~ .nav-mobile__items {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}


.header--logo img {
  width: 122px;
}

.nav__item::before {
  border-radius: 5px;
  background-color: #c01111;
  content: "";
  height: 6px;
  position: absolute;
  top: -10px;
  left: 20%;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.4s ease;
  visibility: hidden;
  width: 60%;
}

.nav__item:hover a{
  color: #c01111;
}

.nav__item:hover::before, .nav__item--active::before  {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
