@import url(./global.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./main/business.css);
@import url(./main/creative.css); 
@import url(./main/career.css);
@import url(./main/culture.css);
@import url(./main/environment.css);
@import url(./main/project.css);


.header {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.main {
  background-color: #fff;
  padding: 85px 0 60px;
}
