@import url(./global.css);
@import url(./header.css);
@import url(./footer.css);

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main {
  padding: 85px 0 60px;
}

video {
  max-width: 100%;
  width: 100%;
}

.home__section {
  max-width: 1140px;
  margin: 0 auto;
}

.section--title {
  color: #2b3441;
  font-size: 40px;
  margin: 20px 0 10px;
  padding: 25px 0;
}

/* Bussiness */

.bussiness__section {
  margin-bottom: 40px;
}

.bussiness__section--content {
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bussiness__section--content::before {
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  content: '';
  height: calc(100% - 80px);
  position: absolute;
  width: 110px;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
}

.bussiness__section--content p {
  color: #2b3441;
  padding-left: 70px;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50%;
}

.bussiness--image {
  margin: -80px 25px -70px 70px;
  position: relative;
  z-index: 2;
  width: 50%;
}

.bussiness--image img {
  max-width: 100%;
  height: auto;
}

/* Creative & Enineering */

.card__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card {
  border-radius: 16px;
  padding: 48px;
  width: calc(50% - 20px);
}

.creative__card {
  background-color: #c01111;
  border: 1px solid #c01111;
  color: #fff;
}

.creative__card h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 24px;
}

.card--text {
  margin-bottom: 30px;
  position: relative;
}

.card--text::before {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  content: '';
  height: 38px;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 38px;
}

.card p {
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.card__button span {
  position: relative;
  z-index: 2;
}

.card__button {
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #c01111;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  gap: 12px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  transition: all .3s;
  width: 100%;
  padding:  0 20px;
  position: relative;
}

.card__button::before {
  background-color: #2b3441;
  border-radius: 8px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease;
  z-index: 0;
}

.card__button:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.card__button:hover span {
  color: #fff;
}

.card__button:hover .card__icon {
  background-color: #414954;
}

.card__button:hover img {
  filter: brightness(0) invert(1);
}

.card__icon {
  align-items: center;
  background-color: #F9E7E7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 24px;
  position: relative;
  width: 24px;
  z-index: 2;
}

.card__icon img {
  width: 14px;
}

/* Platform card */
.platform__card {
  background-color: #fff;
  border: 1px solid #d7dadc;
  position: relative;
}

.platform__card::after {
  background-color: #c01111;
  border-radius: 50%;
  bottom: 166px;
  content: '';
  height: 36px;
  position: absolute;
  right: -83px;
  transform: translateY(-50%);
  width: 36px;
}

.platform__card--title {
  color: #2b3441;
  font-size: 32px;
  margin-bottom: 24px;
}

.platform__card p {
  color: #4d5969;
}

.platform-card__button {
  background-color: #2b3441;
  color: #fff;
}

.platform-card__button img {
  filter: brightness(0) invert(1);
}

.platform-card__button .card__icon {
  background-color: #414954;
}

.platform-card__button::before {
  background-color: #c01111;
}

.platform-card__button:hover .card__icon {
  background-color: #c85252;
}

/* Project section */

.project__section--content {
  align-items: center;
  display: flex;
}

.project__section--content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project-data {
  width: 50%;
}

.data__group {
  padding-bottom: 70px;
}

.data__box {
  display: flex;
  align-items: center;
}

.data--number {
  color: #c01111;
  font-size: 112px;
  font-weight: 700;
  line-height: 1.2; 
}

.data__unit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 30px;
}

.data__unit--plus {
  color: #c01111;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}

.data__unit--text {
  font-size: 24px;
  position: relative;
  left: 5px;
}
