/* Bussiness */

.bussiness__section {
  margin-bottom: 40px;
}

.bussiness__section--content {
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bussiness__section--content::before {
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  content: '';
  height: calc(100% - 80px);
  position: absolute;
  width: 110px;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
}

.bussiness__section--content p {
  color: #2b3441;
  padding-left: 70px;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50%;
}

.bussiness--image {
  margin: -80px 25px -70px 70px;
  position: relative;
  width: 50%;
  z-index: 2;
}

.bussiness--image img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1440px) {
  .bussiness__section--title {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .bussiness__section--title {
    font-size: 24px;
  }

  .bussiness__section--content {
    flex-direction: column;
  }
  
  .bussiness__section--content p {
    font-size: 14px;
    width: 100%;
    padding: 25px;
  }

  .bussiness--image {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
}
