/* Career Section */
.career_section {
  background-image: url(../../images/career-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 5%;
}

.career--company-name {
  padding-top: 100px;
}

.career_section::before {
  content: '';
  background-color: rgba(192, 17, 17, .9);
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.career--company-name::before {
  background-color: #d82329;
  border-radius: 50%;
  content: '';
  height: 200px;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 200px;
  z-index: -1;
}

.career--company-name::after {
  background-color: #ef3f45;
  border-radius: 50%;
  content: '';
  left: 75px;
  height: 42px;
  top: 75px;
  position: absolute;
  width: 42px;
  z-index: 0;
}

.career-section--title {
  font-size: 2.5rem;
  padding-bottom: 4rem;
}

.career--description {
  font-size: 1.25rem;
}


@media (max-width: 767px) {
  .career-section--title {
    font-size: 2rem;
  }
  .career--description {
    font-size: 0.875rem;
  }
}
