/* Creative & Enineering */
.creative__card, .platform__card {
  border-radius: 16px;
  padding: 48px;
  position: relative;
}

.creative__card {
  background-color: #c01111;
  border: 1px solid #c01111;
  color: #fff;
}

.creative__card--title, .platform__card--title {
  font-size: 32px;
  margin-bottom: 24px;
}

.creative__card::before {
  content: '';
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #d82329;
  position: absolute;
  right: 50px;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card--text {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
  position: relative;
}

.card--text::before {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  content: '';
  height: 38px;
  left: 0;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 38px;
  z-index: 1;
}

.card__button {
  font-size: 18px;
  font-weight: 700;
  height: 64px;
  position: relative;
  overflow: hidden;
}

.card__button::before {
  background-color: #2b3441;
  border-radius: 4px;
  content: "";
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 0;
}

.card__button .card__icon {
  width: 24px;
  height: 24px;
  background-color: #F9E7E7;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.card__button:hover .card__icon {
  background-color: #414954;
}

.card__button:hover img {
  filter: brightness(0) invert(1);
}

.card__button:hover span {
  color: #fff;
}

/* Platform Card */
.platform__card {
  background-color: #fff;
  border: 1px solid #d7dadc;
}

.platform__card--title {
  color: #2b3441;
}

.platform__card p {
  color: #4d5969;
  position: relative;
  z-index: 2;
}

.platform__card .card--text::before {
  background-color: #f3f3f3;
  z-index: -1;
}

.platform__card::before {
  background-color: #c01111;
  border-radius: 50%;
  bottom: 166px;
  content: '';
  height: 36px;
  position: absolute;
  right: -83px;
  transform: translateY(-50%);
  width: 36px;
  z-index: 3;
}

.platform-card__button {
  background-color: #2b3441;
  color: #fff;
}

.platform-card__button .card__icon {
  background-color: #414954;
}

.card__button:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.platform-card__button:hover::before {
  opacity: 1;
  background: #c01111;
}

.platform-card__button img {
  filter: brightness(0) invert(1);
}

.platform-card__button:hover .card__icon {
  background-color: #c85252;
}
