/* Creative & Enineering */

.card__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 160px;
}

.card {
  border-radius: 16px;
  overflow: visible;
  padding: 48px;
  position: relative;
  width: calc(50% - 20px);
}

.creative__card {
  background-color: #c01111;
  border: 1px solid #c01111;
  color: #fff;
}

.creative__card h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 24px;
}

.card--text::before {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  content: '';
  height: 38px;
  left: 0;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 38px;
  z-index: 1;
}

.card p {
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.card--text {
  margin-bottom: 30px;
  position: relative;
}

.card__button span {
  position: relative;
  z-index: 2;
}

.card__button {
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #c01111;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  gap: 12px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  transition: all .3s;
  padding:  0 20px;
  position: relative;
  width: 100%;
}

.card__button::before {
  background-color: #2b3441;
  border-radius: 4px;
  content: "";
  top: 50%;
  left: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: 0;
}

.card__button:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.card__button:hover span {
  color: #fff;
}

.card__button:hover .card__icon {
  background-color: #414954;
}

.card__button:hover img {
  filter: brightness(0) invert(1);
}

.card__icon {
  align-items: center;
  background-color: #F9E7E7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 24px;
  position: relative;
  width: 24px;
  z-index: 2;
}

.card__icon img {
  width: 14px;
}

.creative__card::before {
  background-color: #d82329;
  border-radius: 50%;
  content: '';
  height: 66px;
  right: 50px;
  top: 0;
  transform: translateY(-50%);
  position: absolute;
  width: 66px;
}

/* Platform card */
.platform__card {
  background-color: #fff;
  border: 1px solid #d7dadc;
  position: relative;
}

.platform__card::before {
  background-color: #c01111;
  border-radius: 50%;
  bottom: 166px;
  content: '';
  height: 36px;
  position: absolute;
  right: -83px;
  transform: translateY(-50%);
  width: 36px;
  z-index: 3;
}

.platform__card--title {
  color: #2b3441;
  font-size: 32px;
  margin-bottom: 24px;
}

.platform__card p {
  color: #4d5969;
}

.platform-card__button {
  background-color: #2b3441;
  color: #fff;
  overflow: visible;
  position: relative;
}

.platform-card__button::after {
  background-color: #fff7f7;
  border-radius: 50%;
  bottom: -135px;
  content: '';
  height: 66px;
  right: 55%;
  position: absolute;
  width: 66px;
}

.platform-card__button img {
  filter: brightness(0) invert(1);
}

.platform-card__button .card__icon {
  background-color: #414954;
}

.platform-card__button::before {
  background-color: #c01111;
}

.platform-card__button:hover .card__icon {
  background-color: #c85252;
}

@media screen and (max-width: 1440px) {
  .card__button {
    font-size: 16px;
    height: 64px;
  }

  .card__section h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .card__section h2 {
    font-size: 22px;
  }

  .card__button {
    max-width: 336px;
  }
}

@media screen and (max-width: 991px) {
  .card p {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .card__section {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .card__section h2 {
    font-size: 20px;
  }

  .card {
    width: 100%;
    padding: 36px;
  }

  .card p {
    font-size: 14px;
  }
}
