/* Culture - Event Section */

.culture__section {
  position: relative;
}

.culture__section::before {
  border-radius: 50%;
  background-color: #ffeff0;
  content: '';
  height: 71px;
  left: -90px;
  top: 40%;
  position: absolute;
  width: 71px;
}

.culture__news {
  align-items: cente/* display: none; Hide radio buttons */r;
  display: flex;
  justify-content: space-between;
}

.culture__box {
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 0 12px;
  transition: all .3s;
  padding: 24px;
  position: relative;
  width: 358px;
}

.culture__section .culture__section--title {
  width: fit-content;
  margin-top: 100px;
}

.culture__section--title::before {
  background-color: #c01111;
  border-radius: 50%;
  content: '';
  height: 28px;
  right: 5%;
  top: -45px;
  position: absolute;
  width: 28px;
}

.culture__box:hover {
  border: 1px solid #e4e4e4;
  transition: all .3s;
}

.culture__card--image {
  position: relative;
}

.culture__card--label {
  border: 6px solid rgba(255, 255, 255, .5);
  border-radius: 34px;
  position: absolute;
  top: -22px;
  right: -16px;
}

.culture__card--label span {
  background-color: #c01111;
  border-radius: 34px;
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  padding: 0 20px;
}

.culture__card--image img {
  border-radius: 10px;
  width: 100%;
}

.culture-event__content {
  margin-top: 30px;
  position: relative;
}

.culture-event--link {
  color: #2b3441;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 75px;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.culture-event--link:hover {
  color: #c01111;
}

.culture-event__content::before {
  background-color: rgba(228, 228, 228, .4);
  border-radius: 50%;
  content: '';
  position: absolute;
  width: 38px;
  height: 38px;
  left: 2px;
  top: 12px;
  transform: translate(-50%, -50%);
}

.culture-event--description {
  color: #949ba4;
  height: 75px;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 14px;
  font-weight: 400;
}

.culture-event__detail a {
  align-items: center;
  display: flex;
  width: 100%;
}

.culture-event__detail--text {
  color: #c01111;
  font-size: 14px;
  font-weight: 700;
}

.culture-event__icon {
  align-items: center;
  background-color: rgba(192, 17, 17, .1);
  border-radius: 50%;
  display: flex;
  height: 24px;
  line-height: 24px;
  margin-left: 12px;
  text-align: center;
  position: relative;
  padding: 1px;
  width: 24px;
  justify-content: center;
}

.culture-event__icon > img {
  width: 12px;
}

.culture__button {
  display: flex;
  justify-content: center;
  margin: 75px 0 25px;
}

.culture__button button {
  max-width: 100%;
  width: 366px;
}

.culture_container {
  display: flex;
  justify-content: space-between;
}

/* Slider */

.culture__section .slider-container {
  max-width: 100%;
}

.culture__section .slide {
  background-image: unset;
  min-width: unset;
}

.culture__section .slide::before {
  display: none;
}

@keyframes culture-slide {
  0% {
      transform: translateX(0);
  }

  16% {
      transform: translateX(-33.3%);
  }

  33% {
      transform: translateX(-67%);
  }

  50% {
      transform: translateX(-100%);
  }

  66% {
      transform: translateX(0%);
  }

  80% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(0);
  }
}

.culture__section .slider-container:not(:hover) .slider {
  animation: culture-slide 6s infinite;
  animation-timing-function: ease-in-out;
  transition: transform 6s ease;
}

.culture__section .arrow__div {
  position: absolute;
  top: 110px;
  right: 0;
  z-index: 3;
}

input#culture-slide1:checked ~ .slider {
  transform: translateX(-3%);
}

input#culture-slide2:checked ~ .slider {
  transform: translateX(-37.5%);
}

input#culture-slide3:checked ~ .slider {
  transform: translateX(-72%);
}

input#culture-slide1:checked~.arrow__div #prev-slide1,
input#culture-slide1:checked~.arrow__div #next-slide1 {
  display: flex;
}

input#culture-slide2:checked~.arrow__div #prev-slide2,
input#culture-slide2:checked~.arrow__div #next-slide2 {
  display: flex;
}

input#culture-slide3:checked~.arrow__div #prev-slide3,
input#culture-slide3:checked~.arrow__div #next-slide3 {
  display: flex;
}

input#culture-slide1:checked~.arrow__div #prev-slide2,
input#culture-slide1:checked~.arrow__div #next-slide2 {
  display: none;
}

input#culture-slide1:checked~.arrow__div #prev-slide3,
input#culture-slide1:checked~.arrow__div #next-slide3 {
  display: none;
}

input#culture-slide2:checked~.arrow__div #prev-slide1,
input#culture-slide2:checked~.arrow__div #next-slide1 {
  display: none;
}

input#culture-slide2:checked~.arrow__div #prev-slide3,
input#culture-slide2:checked~.arrow__div #next-slide3 {
  display: none;
}

input#culture-slide3:checked~.arrow__div #prev-slide2,
input#culture-slide3:checked~.arrow__div #next-slide2 {
  display: none;
}

input#culture-slide3:checked~.arrow__div #prev-slide1,
input#culture-slide3:checked~.arrow__div #next-slide1 {
  display: none;
}

@media screen and (max-width: 767px) {
  .culture__section {
    margin-bottom: 95px;
  }
  .culture__box {
    width: 100%;
  }

  .culture__button {
    margin-top: 35px; 
  }

  input#culture-slide2:checked ~ .slider {
    transform: translateX(-104%);
  }

  input#culture-slide3:checked ~ .slider {
    transform: translateX(-205%);
  }
  
  .culture__section .slider-container:not(:hover) .slider {
    animation: auto-slide 6s infinite;
    animation-timing-function: ease-in-out;
    transition: transform 6s ease;
  }

  .culture__section .slide {
    flex: 0 0 auto;
  }
}
