/* Project section */

.project__section {
  margin-bottom: 120px;
}

.project__section--content {
  align-items: center;
  display: flex;
}

.project__section--content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.project-data {
  width: 50%;
  margin-top: 40px;
}

.project__section--title {
  margin: 20px 0 30px;
  line-height: 1.5;
  font-size: 40px;
  position: relative;
  color: #2b3441;
}

.project__section--title::before {
  border-radius: 50%;
  background-color: #c01111;
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  right: 60%;
  top: -30px;
  transform: translateY(-50%);
}

.project__section--title::after {
  border-radius: 50%;
  background-color: rgba(192, 17, 17, .1);
  content: '';
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  bottom: -40px;
}

.data__group {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.data__box {
  display: flex;
  align-items: center;
}

@keyframes firstCountUp {
  0% {
    content: "0";
  }
  8.33% {
    content: "17";
  }
  16.66% {
    content: "34";
  }
  25% {
    content: "51";
  }
  33.33% {
    content: "68";
  }
  41.66% {
    content: "85";
  }
  50% {
    content: "102";
  }
  58.33% {
    content: "119";
  }
  66.66% {
    content: "136";
  }
  75% {
    content: "153";
  }
  83.33% {
    content: "170";
  }
  91.66% {
    content: "187";
  }
  100% {
    content: "200";
  }
}

@keyframes secondCountUp {
  0% {
    content: "0";
  }
  6.25% {
    content: "20";
  }
  12.5% {
    content: "40";
  }
  18.75% {
    content: "60";
  }
  25% {
    content: "80";
  }
  31.25% {
    content: "100";
  }
  37.5% {
    content: "120";
  }
  43.75% {
    content: "140";
  }
  50% {
    content: "160";
  }
  56.25% {
    content: "180";
  }
  62.5% {
    content: "200";
  }
  68.75% {
    content: "220";
  }
  75% {
    content: "240";
  }
  81.25% {
    content: "260";
  }
  87.5% {
    content: "280";
  }
  100% {
    content: "300";
  }
}

.data--number::before {
  color: #c01111;
  font-size: 112px;
  font-weight: 700;
  line-height: 1.2; 
}

.data__number--first::before {
  animation: firstCountUp 1s steps(20) forwards 5s;
  content: '0';
}

.data__number--second::before {
  animation: secondCountUp 1s steps(20) forwards 5s;
  content: '0';
}

.data__unit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 30px;
}

.data__unit--plus {
  color: #c01111;
  font-size: 48px;
  font-weight: 700;
  position: relative;
}

.data__unit--text {
  font-size: 24px;
  position: relative;
  left: 5px;
}

.project__button {
  max-width: 400px;
}

@media screen and (max-width: 1440px) {
  .project__section--title {
    font-size: 32px;
  }

  .data__group {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .data--number::before {
      font-size: 100px;
  }

  .data__unit--plus {
    font-size: 46px;
  }

  .data__unit--text {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .project__section--title {
    font-size: 28px;
  }

  .data--number::before {
    font-size: 80px;
  }

  .data__unit--plus {
    font-size: 36px;
  }

  .data__unit--text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .project__section--title {
    font-size: 24px;
  }

  .project-data {
    margin-top: 0;
    width: 100%;
  }

  .data__group {
    margin-top: 40px;
    padding-bottom: 30px;
    gap: 0;
  }

  .data__box {
    margin-bottom: 20px;
  }

  .data--number::before {
    font-size: 65px;
  }

  .project__section--content {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 90px;
  }

  .project__section--title::before {
    right: 25%;
  }

  .platform-card__button::after {
    display: none;
  }
}
