/* Project section */
@keyframes firstCountUp {
  0% {
    content: "0";
  }
  8.33% {
    content: "17";
  }
  16.66% {
    content: "34";
  }
  25% {
    content: "51";
  }
  33.33% {
    content: "68";
  }
  41.66% {
    content: "85";
  }
  50% {
    content: "102";
  }
  58.33% {
    content: "119";
  }
  66.66% {
    content: "136";
  }
  75% {
    content: "153";
  }
  83.33% {
    content: "170";
  }
  91.66% {
    content: "187";
  }
  100% {
    content: "200";
  }
}

@keyframes secondCountUp {
  0% {
    content: "0";
  }
  6.25% {
    content: "20";
  }
  12.5% {
    content: "40";
  }
  18.75% {
    content: "60";
  }
  25% {
    content: "80";
  }
  31.25% {
    content: "100";
  }
  37.5% {
    content: "120";
  }
  43.75% {
    content: "140";
  }
  50% {
    content: "160";
  }
  56.25% {
    content: "180";
  }
  62.5% {
    content: "200";
  }
  68.75% {
    content: "220";
  }
  75% {
    content: "240";
  }
  81.25% {
    content: "260";
  }
  87.5% {
    content: "280";
  }
  100% {
    content: "300";
  }
}

.project__section--content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.project-data {
  margin-top: 40px;
}

.project__section--title {
  margin: 20px 0 30px;
  font-size: 40px;
  color: #2b3441;
  position: relative;
}

.project__section--title::before,
.project__section--title::after {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.project__section--title::before {
  background-color: #c01111;
  width: 28px;
  height: 28px;
  right: 60%;
  top: -30px;
}

.project__section--title::after {
  background-color: rgba(192, 17, 17, 0.1);
  width: 26px;
  height: 26px;
  left: 0;
  bottom: -40px;
}

.data--number::before {
  font-size: 112px;
  font-weight: 700;
  color: #c01111;
  content: "0";
}

.data__number--first::before {
  animation: firstCountUp 1s steps(20) forwards 5s;
}

.data__number--second::before {
  animation: secondCountUp 1s steps(20) forwards 5s;
}

.data__unit--plus {
  font-size: 48px;
  color: #c01111;
}

.project__button {
  max-width: 400px;
}

@media screen and (max-width: 1440px) {
  .project__section--title {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .project__section--title {
    font-size: 24px;
  }
  .project-data {
    margin-top: 0;
  }
  .data__group {
    margin-top: 40px;
    padding-bottom: 30px;
    gap: 20px;
  }
  .data--number::before {
    font-size: 65px;
  }
  .project__section--content {
    flex-direction: column;
    row-gap: 90px;
  }
}
